//watch section

.watch-animal {
    .container {
        position: relative;
        height: 780px;

        background-image: url("/src/assets/images/giant-panda.jpg");
    }
    .circle-button {
        position: absolute;
        top: 546px;
        left: 983px;
    }
}

.ellipse {
    position: absolute;
    left: 807px;
    top: 12px;
    width: 465px;
    height: 465px;

    border-radius: 50%;
    background: linear-gradient(113.96deg, $orange 1.49%, #FE9013 101.44%);
}

.watch-title {
    position: absolute;
    top: 86px;
    left: 880px;
    z-index: 3;
    width: 500px;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    span {
        color: $yellow;
    }
}

//backstage section

.backstage {
    .container {
        display: flex;
        justify-content: space-between;

        height: 723px;
        padding-top: 140px;
        padding-bottom: 180px;

        font-style: normal;
        font-weight: 400;

        color: $black-blue;

        
    }
    
    background-image: url(/src/assets/images/backstage-flower.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.backstage-content {
    max-width: 465px;
}

.backstage-title {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.backstage-text1 {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 21px;
}

.backstage-subtitle {
    margin: 0 0 34px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.backstage-text2 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

//pets

.pets {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1106px;
        padding: 0 140px 100px 140px;

        
    }
    background-image: url('/src/assets/images/palm.png'), url('/src/assets/images/strelitzia.png');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 872px;
}

.arrow {
    padding: 27px 23px;

    background: linear-gradient(113.96deg, $orange 1.49%, #FE9013 101.44%);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background: $green;
    }
}

.pets-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    max-width: 1158px;
    height: 872px;
}

.pets-item {
    position: relative;
    width: 366px;
    height: 426px;
    
    border: 1px solid $orange;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.pet-img {
    width: 100%;

    &:hover {
        transform: scale(1.03);
        transition: .3s;
    }
}

.pets-content {
    display: flex;
    justify-content: space-between;

    padding: 0 10px 0 16px;
}

.pets-title {
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-transform: uppercase;
}

.pets-location {
    margin: 0;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pets-tooltip {
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 10px;

    width: 160px;
    height: 109px;
    padding: 8px 12px 0 11px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid;
    border-radius: 5px;

    background-color: #FFFFFF;
}

.pets-tooltip-active {
    z-index: 2;
    top: 375px;
    transition: .5s;
}

.tooltip-animal {
    margin: 0;
    font-weight: 500;
}

.tooltip-location {
    margin: 0;
    font-weight: 500;
}

.watch-online {
    width: 136px;
    height: 31px;
    margin-top: 11px;

    color: $green;
    cursor: pointer;
}

// pick-n-feed

.pick-n-feed {
    height: 1004px;
    padding: 70px 220px 100px 220px;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;

    .container {
        padding: 40px 0 60px 100px;

        color: $black-blue;

        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;

        .circle-button {
           margin-left: 36%;
        }
    }
}

.pick-title {
    margin: 0 0 30px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FE9013;
}

.pick-text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.pick-text-bold {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.pick-text {
    margin-bottom: 60px;
    max-width: 863px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    span {
        border-bottom: 1px solid $orange;
        cursor: pointer;

        &:hover {
            color: $orange;
            transition: .3s;
        }
    }
}

.pick-how-it-works {
    margin: 0 0 40px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}

.feed-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin: 0 auto 60px auto;
}

.feed-item {
    width: 168px;
}

.pick-arrow {
    padding-bottom: 80px;
}

.feed-img {    
    background-color: #FFFFFF;
}

.pay {
    padding: 54px 30px;
}

.zoo {
    padding: 38px 41px 35px 41px;
}

.monkey {
    padding: 48px 21.25px 48.4px 22px;
}

// testimonials

.testimonials {
    padding-top: 140px;
    .container {

    }
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
}


.testimonials-title {
    margin: 0 0 47px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: $black-blue;
}

.testimonials-item {
    width: 268px;
    padding: 15px 15px 19px 16px;

    background: $light-gray;
    border: 1px solid $orange;
    border-radius: 20px;
}

.client-data {
    display: flex;
}

.avatar {
    width: 37px;
    height: 37px;
}

.client-description {
    margin-left: 5px;
}

.client-name {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #000000;
}

.client-info {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    
    color: #BDBDBD;
}

.testimonial {
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #767474;
}

