//watch section

.watch-animal {
    .container {
        position: relative;
        height: 780px;

        background-image: url("/src/assets/images/giant-panda.jpg");
    }
    .circle-button {
        position: absolute;
        top: 546px;
        left: 983px;
    }
}

.ellipse {
    position: absolute;
    left: 807px;
    top: 12px;
    width: 465px;
    height: 465px;

    border-radius: 50%;
    background: linear-gradient(113.96deg, $orange 1.49%, #FE9013 101.44%);
}

.watch-title {
    position: absolute;
    top: 86px;
    left: 880px;
    z-index: 3;
    width: 500px;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    span {
        color: $yellow;
    }
}

//backstage section

.backstage {
    .container {
        display: flex;
        justify-content: space-between;

        height: 723px;
        padding-top: 140px;
        padding-bottom: 180px;

        font-style: normal;
        font-weight: 400;

        color: $black-blue;

        
    }
    
    background-image: url(/src/assets/images/backstage-flower.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.backstage-content {
    max-width: 465px;
}

.backstage-title {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.backstage-text1 {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 21px;
}

.backstage-subtitle {
    margin: 0 0 34px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.backstage-text2 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

//pets

.pets {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1106px;
        padding: 0 140px 100px 140px;

        
    }
    background-image: url('/src/assets/images/palm.png'), url('/src/assets/images/strelitzia.png');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 872px;
}

.arrow {
    padding: 27px 23px;

    background: linear-gradient(113.96deg, $orange 1.49%, #FE9013 101.44%);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background: $green;
    }
}

.pets-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    max-width: 1158px;
    height: 872px;
}

.pets-item {
    position: relative;
    width: 366px;
    height: 426px;
    
    border: 1px solid $orange;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.pet-img {
    width: 100%;

    &:hover {
        transform: scale(1.03);
        transition: .3s;
    }
}

.pets-content {
    display: flex;
    justify-content: space-between;

    padding: 0 10px 0 16px;
}

.pets-title {
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-transform: uppercase;
}

.pets-location {
    margin: 0;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pets-tooltip {
    position: absolute;
    top: 250px;
    left: 10px;

    width: 160px;
    height: 109px;
    padding: 8px 12px 0 11px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid;
    border-radius: 5px;

    background-color: #FFFFFF;
}

.tooltip-animal {
    margin: 0;
    font-weight: 500;
}

.tooltip-location {
    margin: 0;
    font-weight: 500;
}

.watch-online {
    width: 136px;
    height: 31px;
    margin-top: 11px;

    color: $green;
    cursor: pointer;
}